.tocs-sidebar {
  display: none;
}

.handbook-wrapper .container li {
  margin-top: .5em;
}

.handbook-wrapper .container li:last-child {
  margin-bottom: .5em;
}

@media (min-width: $screen-md-min) {
  .handbook-wrapper {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;

    .container {
      float: left;
      max-width: 70%;
    }
  }

  .tocs-sidebar {
    position: sticky;
    font-size: 16px;
    display: block;
    float: right;
    width: 30%;
    max-width: 30%;
    max-height: 100vh;
    top: 35px;
    padding: 0 20px;
    overflow-y: scroll;

    > h4 {
      margin-top: 30px;
      padding-bottom: 10px;
      border-bottom: 1px solid $color-gray-extra-light;
    }

    > ul {
      padding-left: 20px;
      padding-bottom: 50px;
    }
  }
}

.handbook-md-title {

  .handbook-md-anchor {
    opacity: 0;
    display: inline-block;
    width: 1em;
    height: 1em;
    max-height: 20px;
    vertical-align: middle;
    background: url("/images/icons/icon_anchor.svg") center center no-repeat;
    background-size: contain;
  }

  &::before {
    display: block;
    content: " ";
    margin-top: -75px;
    height: 75px;
    visibility: hidden;
  }

  &:hover {

    .handbook-md-anchor {
      opacity: 1;
    }
  }
}
