---
layout: default
title: Blog archives
---

.blog.archives
  .wrapper
    = partial "includes/newsletter-signup.html"
    .section
      %ul
        - blog.articles.each do |post|
          %li
            - if post.date
              %time
                = post.date.to_time.strftime '%b %e, %Y'
            = link_to post.url do
              = post.title
